<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Arun Chandra Bhusal</title>
  <link rel="stylesheet" href="static/personal_site/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/personal_site/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/personal_site/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Arun.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/personal_site/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/personal_site/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/personal_site/images/arun.jpg" alt="arun-profile-img" width="200">
      <h2>Hello.</h2>
      <p class="intro">I am a learner and I am learning to survive amidst this harsh world filled with programmers.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I wanted to code since I was a kid but I was too lazy, and I've only recently(3 years) begun doing it.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/personal_site/images/chillies.png" alt="chillies-img">

        <h3>Hot Wings Challenge</h3>
        <p>My wings were so hot they melted away, and I was left to starve in this god forbidden planet</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you can help me get back to heaven</h3>
      <p class="contact-message">Leave all the sadness at the door, and join me in a voyage to a never before seen excitement.</p>
      <a class="btn" href="mailto:whatamidoing@maybe.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/arun-chandra-bhusal-880b56247/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/arunbhusal86">Twitter</a>
    <a class="footer-link" href="https://www.acb.com.np/">Website</a>
    <p class="copyright">© 2024.</p>
  </div>
</body>

</html>
